---
import Layout from "../../layouts/layout.astro"
---

<Layout title="Avoid :focus-visible">
	<h1>Avoid <code>:focus-visible</code></h1>
	<p>
		<code>:focus</code> is a pseudo-class that is used to style elements that are focused.
		Either by clicking on them with the mouse, or by tabbing to them with the keyboard. Having
		a outline around buttons and links isn't the most visually appealing thing, so people
		often remove it. To solve this, the <code>:focus-visible</code> pseudo-class was introduced.
		But it still doesn't solve the problem.
	</p>
	<p>
		You should always have a focus style for elements which can be activated with the
		keyboard either by pressing space or enter.
	</p>
	<p>
		<code>:focus-visible</code> is a pseudo-class that is used to style elements which were
		focused by keyboard input. (This isn't exactly how it works, thats another issue with
		it).
	</p>
	<p>
		So if you have removed the default focus outline on a button, and have added the
		outline on <code>:focus-visible</code>, you won't have a outline when the user
		clicks on the button. But the focus is still moved to that button. This creates a
		scenario <em>
			where there is no visual indicator that the button is focused, but pressing Enter
			will click the button.
		</em>
	</p>
	<p>Look at this button, click it once, then press Enter.</p>
	<p><button class="demo-button bad">Click Me</button></p>
	<p>Notice there is no way for you to know what will happen when you press Enter.</p>
	<p>Now, do the same with this button.</p>
	<p><button class="demo-button">Click Me</button></p>
	<p>
		You might say that this isn't really a big issue for things like buttons and links
		because usually clicking them changes the view or focuses something else. A button
		which opens a modal will focus the modal. Closing the modal will set <code>
			:focus-visible
		</code> for the button.
	</p>
	<p>
		But this is a problem for form elements such as dropdowns, checkboxes, etc. and for
		buttons and links which don't move focus away from them or change views.
	</p>
</Layout>

<script>
	document.querySelectorAll(".demo-button").forEach((button) => {
		button?.addEventListener("click", () => {
			button.animate(
				[{transform: "scale(1)"}, {transform: "scale(1.1)"}, {transform: "scale(1)"}],
				{
					duration: 500,
					easing: "ease",
				}
			)
		})
	})
</script>

<style is:global>
	.demo-button.bad {
		&:focus:not(:focus-visible) {
			outline: none;
		}
	}
</style>
