---
import Layout from "../../layouts/layout.astro"
---

<Layout title="Good Software">
	<h1>Good Software</h1>

	<p>
		According to frustrated (mostly non-technical) users, good software ...
		<ol>
			<li>Should distribute self-contained executable binaries.</li>
			<li>Short installation instructions.</li>
			<li>Should list all dependencies.</li>
			<li>Should be easy to use.</li>
			<li>Should have a graphical user interface.</li>
			<li>Use the homebrew-method for installation.</li>
		</ol>
	</p>

	<h2>1. Should distribute self-contained binaries</h2>

	<p>
		<a href="https://distrowatch.com/weekly.php?issue=20200810#qa">
			https://distrowatch.com/weekly.php?issue=20200810#qa
		</a>
	</p>

	<p>Good arguments for distributing self-contained binaries.</p>

	<p>
		<a href="https://wiki.gentoo.org/wiki/Why_not_bundle_dependencies">
			https://wiki.gentoo.org/wiki/Why_not_bundle_dependencies
		</a>
	</p>

	<p>Good arguments for not bundling dependencies.</p>

	<h2>2. Should have short installation instructions</h2>

	<p>
		Operating systems and linux distributions have huge differences which makes it very
		difficult to package software for all of them.
	</p>

	<p>Should software authors maintain packages for all the billion linux distros?</p>

	<h2>3. Should list all dependencies</h2>

	<p>
		This mainly applies to software or small scripts with poor documentation. I like to
		list out all the dependencies with links to their homepages in the README.
	</p>

	<h2>4. Should be easy to use</h2>

	<p>Ease of use is subjective.</p>

	<h2>5. Should have a graphical user interface</h2>

	<p>
		Some software is better suited for a command-line interface, such CLI programs are
		always quicker and easier to use than their GUI counterparts. GUI programs require
		you to lock into a specific UI toolkit. If you are making a GTK application, then
		you will most probably have a header-bar. The specifics of UI toolkits and the
		integrations with the operating system affect the usability of your software.
	</p>

	<h2>6. Use the homebrew-method for installation</h2>

	<h2>homebrew-method</h2>

	<p>A single command which fetches a install script and runs it.</p>

	<h2>aseprite business model</h2>

	<blockquote>
		"if you can compile this on your own you can use it for free!"
	</blockquote>

	<h2>FOSS</h2>

	<blockquote>
		FOSS stands for Figure Out Shit your Self because nobody owes you a second of their
		time.
	</blockquote>
</Layout>
