:root {
	--font-sans: IBM Plex Sans;
	--font-serif: IBM Plex Serif;
	--font-mono: IBM Plex Mono;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	line-height: calc(1em + 0.8rem);
	box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

:root {
	font-size: 62.5%;
}

body {
	font-family: var(--font-sans);
	font-size: 1.6rem;
	-webkit-font-smoothing: antialiased;
}

code {
	font-family: var(--font-mono);
}

h1 {
	font-size: 2.8rem;
	margin-top: 2.4rem;
	margin-bottom: 1.2rem;
}

h2 {
	font-size: 2rem;
	margin-top: 1.6rem;
	margin-bottom: 0.8rem;
}

h3 {
	font-size: 1.8rem;
	margin-top: 1.2rem;
	margin-bottom: 0.6rem;
}

a {
	--color: rgb(9, 88, 184);
	color: var(--color);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		text-decoration-thickness: 1.2px;
	}

	&:visited {
		--color: purple;
	}

	&:focus {
		outline: 2px solid var(--color);
	}
}

body {
	padding: 16px;
	display: grid;
	grid-template-columns: 1fr min(65ch, 100%) 1fr;

	& > * {
		grid-column: 2;
	}

	& > .full-bleed {
		width: 100%;
		grid-column: 1 / 4;
	}
}
