---
import Layout from "../layouts/layout.astro"

const thoughts = await Astro.glob("./thoughts/*")
---

<Layout title="aspizu">
	<h1>aspizu's homepage</h1>
	<ul>
		<li><a href="https://github.com/aspizu">GitHub</a></li>
		<li><a href="https://youtube.com/@aspizuwastaken">YouTube</a></li>
		<li><a href="https://discord.gg/W9ZWy6ZMA3">Discord</a></li>
		<li><a href="https://www.reddit.com/user/aspizu/">Reddit</a></li>
		<li><a href="https://x.com/janApisu">Twitter</a></li>
	</ul>
	<hr />
	<h2>Thoughts (not my thoughts)</h2>
	<ul>
		{
			thoughts.map((file) => (
				<li>
					<a href={file.url} />
					{JSON.stringify(file)}
				</li>
			))
		}
		<li>
			<a href="/thoughts/avoid-focus-visible">
				Avoid <code>:focus-visible</code>
			</a>
		</li>
		<li><a href="/thoughts/good-software">Good Software</a></li>
	</ul>
</Layout>
